.sidenav-small {
    width: 55px;
}

.sidenav-full {
    min-width: 190px;

}

:root {
    --box-color: #E7E7EE;
}

body {
    /* background-color: #E7E7EE; */
    /* background-color: rgb(243, 240, 240); */
    background-color: var(--box-color);
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear;
}



/* if we want to use this scroll bar any where just add this class name and set max-height to that div whatever we want  */


.scrollable-container {
    overflow: auto;
}

.box-shaddow-style {
    box-shadow: 0px 5px 8px rgba(14, 11, 11, 0.2);

}


.scrollable-container::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #b8b2b2;
    /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #47478c;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded edges */
}